.sidebar {
	background-color: #3d3d3d;
	color: #fff;
	width: 100px;
	height: 100%;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar ul li {
	margin-bottom: 10px;
}

.nav-link {
	text-decoration: none;
	color: #fff;
	background-color: #369a60;
	width: 45px;
	padding: 8px 16px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.nav-link:hover {
	background-color: #218b49;
}

/* Style for the content area */
.content {
	margin-left: 200px; /* Adjust this value according to sidebar width */
	padding: 20px;
}

.card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}

.home-page {
	padding: 20px;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}

.music-player-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45vh; /* Adjust this as needed */
}

.music-player-content {
	text-align: center;
}

.auth-button {
	background-color: #369a60;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.auth-button:hover {
	background-color: #218b49;
}
